<h1>Update your Newsstand subscription</h1>

<form action="/subscriptions/<%=@subscription.id%>" method="POST">


  <input type="text" name="subscription[name]" id="subscription_name" value="<%=@subscription.name%>">

  <label>Choose another title:</label>

  <br></br>

  <%Title.all.each do |title|%>
    <input type="checkbox" name="subscription[title_ids][]" id="<%= title.id%>" value="<%=title.id%>" <%='checked' if @subscription.titles.include?(title) %>><%=title.name%></input>
  <%end%>

  <br></br>


  <input type="submit" value="Update subscription">
</form>
