<h2><%= @user.name.capitalize %>, pick 12 titles for your EXTRA subscription:</h2>

<form action="/show" method="POST">

  <%@titles.each do |title|%>
      <input type="checkbox" name="title" value="<%=title%>" id="<%=title%>"><%=title.name%></input><br>
      <%=current_user.subscription.titles << title%>
  <%end%>
  <br></br>

  <input type="submit" value="Confirm subscription">
</form>


<a href="/subscriptions/new">Back to Subscriptions</a>
<br></br>
<a href="/logout">Logout</a>
